//large grid
#{enumerate('.col-l', 1, $cols - 1, '')} {
	float: left;
	margin-left: $gutter;
}

@for $i from 1 through $cols {
	.col-l#{$i} {
		@include cols($i);
	}
}
body{
	width: 1024px;
	margin: 0 auto;
}

//import all modules
@import "modules/header/large";
@import "modules/footer/large";